# ── EMBDX — Caddyfile ──────────────────────────────────────────

# Redirect HTTP → HTTPS
:80 {
    redir https://{host}{uri} permanent
}

# Site principal
embdx.com, www.embdx.com {
    @admin_block {
        path /admin*
        not remote_ip 62.35.181.217
    }
    respond @admin_block 403

    reverse_proxy app:3000
}

# Analytics Umami
stats.embdx.com {
    reverse_proxy umami:3000
}
